.error-page {
    background-color: $primary-color; 

    @media screen and (min-width: 768px) {
        padding-bottom: 1.5rem;
    }
    
    &__head {
        text-align: center;
        padding: 2rem 1rem;

        @media screen and (min-width: 768px) {
			padding: 3rem 1rem 1.5rem 1rem;
		}

        &-title {
            margin-bottom: 15px;
        }
    }

    &__search {
        background-color: rgb(66, 94, 94, 0.5);
        width: 100%;
        padding: 2rem;
        text-align: center;
        

        @media screen and (min-width: 768px) {
			width: 80%;
            max-width: 600px;
            margin: 0 auto;
		}

        &-title {
            color: #ffffff;
        }

        &-form {
            width: 100%;
            height: 50px;
            max-width: 370px;
            margin: 10px auto;
            flex-wrap: nowrap;
        }

        &-input {
            width: 100%;
            height: 100%;
            border: 0;
            padding-left: 2%;
            @include fontSize(15px);
            color: $default-color;

            &:hover,
            &:focus {
                outline: 0;
            }

            &::placeholder {
                opacity: 0;

                @media screen and (min-width: 450px) {
                    opacity: 0.5;
                }
            }
        }

        &-submit {
            padding: 1.05rem 1.25rem;
            height: 100%;
            border: 0;
            background-color: $primary-color;
            color: #ffffff;
            transition: all 0.4s ease 0s;
            cursor: pointer;

            &:hover {
                background-color: #59817e;
            }
        }
    }
} 

.related-hikes {
    background-color: $tertiary-color;
	text-align: center;

    &__title {
        margin-top: 30px;
        color: #ffffff;
    }

    &__hike {
        width: 100%;
        max-width: 1600px;
        padding: 1rem;
        margin: 0 auto;
    }

    &__more {
        margin-top: 30px;
    }
}    

