.area {

	&__head {
        text-align: center;
        padding: 2rem;
        background-color: $tertiary-color;
        
        &-title {
            margin-bottom: 15px;
            color: #ffffff;
        }
    }
}

