@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';


* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	background-color: $quaternary-color;
}

body {
	max-width: 1920px;
	display: flex; 
	flex-direction: column;
	min-height: 100%;
	background-color: #f5f5f5;
	font-family: 'Montserrat', sans-serif;
	@include fontSize(16px);
	color: $default-color;
	font-weight: 400;
	line-height: 1.5;

	@media screen and (min-width: 1920px) {
		margin: 0 auto;
	}
}

main {
	flex: 1 0 auto; /* Empêchez Chrome, Opera et Safari de laisser ces éléments se réduire à une taille inférieure à la taille minimale par défaut de leur contenu. */
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $default-color;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}

strong {
	font-weight: 700;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.container {
	width: 100%;
	max-width: 1400px;
	padding: 1rem;
	margin: 0 auto;

	@media screen and (min-width: 1024px) {
		padding: 2rem;
	}

	// Sizes
	&--big {
		max-width: 1600px;
	}

	&--full {
		max-width: 1920px;
		padding: 2rem 1rem;
	}
}

.title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	line-height: 1.3;

	&--big {
		@include fontSize(50px);

		@media screen and (min-width: 768px) {
			@include fontSize(55px);
		}
	
		@media screen and (min-width: 1200px) {
			@include fontSize(61px);
		}
	}

	&--medium {
		@include fontSize(40px);

		@media screen and (min-width: 768px) {
			@include fontSize(45px);
		}
	
		@media screen and (min-width: 1200px) {
			@include fontSize(50px);
		}
	}

	&--small {
		@include fontSize(35px);

		@media screen and (min-width: 768px) {
			@include fontSize(30px);
		}
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	
	&--between {
		justify-content: space-between;
	}

	&--start {
		justify-content: start;
	}

	&--center {
		justify-content: center;
	}

	&--end {
		justify-content: flex-end;
	}

	&--evenly {
		justify-content: space-evenly;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.btn {
	padding: 1.25rem 2rem;
	background-color: $primary-color;
	color: #ffffff;
	line-height: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	@include fontSize(18px);
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
	border: none;
	
	&:hover,
	&:active,
	&:focus {
		background-color: #59817e;
		color: #ffffff;
		transition: 0.5s;
	}

	// Sizes
	&--small {
		padding: 1rem 1.75rem;
		@include fontSize(16px);
	}

	&--xsmall {
		padding: 0.35rem 0.9rem;
		@include fontSize(12px);
	}

	&--purple {
		background-color: $secondary-color;

		&:hover,
		&:active,
		&:focus {
			background-color: #5c4c74;
			color: #ffffff;
			transition: 0.5s;
		}
	}
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #d7d7d7;
}

.weather {
	width: 100%;

	&__head {
		background-color: #24252a;
		padding: 0.5rem;
		color: #f4f4f4;
		text-align: center;
		
		&-title,
		&-city {
			@include fontSize(20px);
		}

		&-city {
			font-weight: 700;
		}
	}

	&__container {
		
		@media screen and (min-width: 700px) {
			flex-direction: row;
			justify-content: space-between;
		}

		@media screen and (min-width: 1024px) {
			flex-direction: column;
		}
	}

	#weather-j0,
	#weather-j1,
	#weather-j2 {
		width: 100%;
		background-position: center;
		background-size: cover;
		padding: 1.5rem;
		border: 5px $default-color solid;
		color: #ffffff;
		font-weight: 700;
		text-align: center;
		margin-top: 10px;

		@media screen and (min-width: 700px) {
			width: 33%;
		}

		@media screen and (min-width: 1024px) {
			width: 100%;
		}

		i {
			display: block;
			@include fontSize(50px);
			margin-top: 15px;
		}

		.condition {
			margin-top: 15px;
		}

		.temp-min,
		.temp-max {
			margin-top: 8px;
		}
	}

	.Clear {
		background-image: url('../../assets/image/meteo/sunny.jpg');
	}

	.Clouds {
		background-image: url('../../assets/image/meteo/cloudy.jpg');
	}

	.Rain {
		background-image: url('../../assets/image/meteo/rain.jpg');
	}

	.Snow {
		background-image: url('../../assets/image/meteo/snow.jpg');
	}	
}

.level-green { 
	@include fontSize(14px);
	font-weight: 500;
	background-color: #4fa954;
	color: #ffffff;
	text-align: center;
}

.level-blue {
	@include fontSize(14px);
	font-weight: 500;
	background-color: #74b9ff;	
	color: #ffffff;
	text-align: center;
}

.level-red {
	@include fontSize(14px);
	font-weight: 500;
	background-color: #ff7675;
	color: #ffffff;
	text-align: center;	
}

.error_notif {
	width: 100%;
	background-color: $error;
	border-bottom: 2px solid #ad3434;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}

.confirmation_notif {
	width: 100%;
	background-color: $success;
	border-bottom: 2px solid #34ad58;
	padding: 10px;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}