.footer {
    flex-shrink: 0; /* Empêchez Chrome, Opera et Safari de laisser ces éléments se réduire à une taille inférieure à la taille minimale par défaut de leur contenu. */
    background-color: $default-color;

    &__container {
        padding: 0.5rem 1rem;
        max-width: 1920px;

        @media screen and (min-width: 1920px) {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__logo {
        margin-top: 20px;

        &-link {

        }

        &-picture {

        }
    }

    &__nav {
        width: 100%;
        max-width: 390px;
        margin: 0 auto;
    }

    &__menu {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        list-style: none;

        @media screen and (min-width: 576px) {
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        &-item {
            width: 100%;
            padding: 0.6em;

            @media screen and (min-width: 576px) {
                width: auto;
                
                &::before {
                    content: "·";
                    font-size: 20px;
                    font-weight: 700;
                    left: 0;
                    color: #ffffff;
                    display: inline-block;
                    padding-right: 5px;
                }
    
                &:first-child {
    
                    &::before {
                        content: none;
                    }
                }
            }
        }

        &-link {
            font-family: 'Roboto Condensed', sans-serif;
            @include fontSize(18px);
            color: #ffffff;
        }
    }

    &__copyright {
        font-family: 'Roboto Condensed', sans-serif;
        @include fontSize(18px);
        color: #8f9296;
        margin-bottom: 20px;
    }
} 