.guide {

	&__head {
        text-align: center;
        padding: 2rem;
        background-color: $tertiary-color;

        &-title {
            margin-bottom: 15px;
            color: #ffffff;
        }
    }

	&__card {
		width: 100%;
		padding: 0.5rem;
		text-align: center;

		&:nth-child(n+2) {
			margin-top: 15px;
		}


		@media screen and (min-width: 768px) {
			width: 50%;

			&:nth-child(n+2) {
				margin-top: 0;
			}

			&:nth-child(n+3) {
				margin-top: 30px;
			}
		}

		@media screen and (min-width: 1024px) {
			width: 33%;

			&:nth-child(n+3) {
				margin-top: 0;
			}

			&:nth-child(n+4) {
				margin-top: 30px;
			}
		}

		&-link {
			display: block;
		}

		&-picture {
			display: block;
			width: 100%;
			transition: .3s ease opacity;

			&:hover,
			&:focus {
				opacity: .7;
			}
		}

		&-content {
			color: #fff;
			background-color: $default-color;
			padding: 1rem;
		}
		
	}
}