// Sur page: Index, search et 404

.hike {

	&__item {
		width: 100%;
		background-color: #ffffff;
		margin-top: 30px;
		text-align: center;

		&:first-child {
			margin-top: 0;
		}

		@media screen and (min-width: 768px) {
			width: 47.5%;

			&:first-child {
				margin-top: 30px;
			}
		}

		@media screen and (min-width: 1200px) {
			width: 30%;
		}
	}

	&__head {
		position: relative;
		width: 100%;
		max-height: 220px;

		&-link {
			
			&:hover,
			&:focus {
				.related-hikes__head-picture {
					opacity: .7;
				}
			}
		}

		&-picture {
			width: 100%;
			height: 220px;
			object-fit: cover;
			transition: .3s ease opacity;

			&:hover,
			&:focus {
				opacity: .7;
			}
		}

		&-box {
			width: 60%;
			position: absolute; /* postulat de départ */
			bottom: -3%; left: 50%; /* à 50%/50% du parent référent */
			transform: translate(-50%, 3%); 
			padding: 0.2rem;	
		}

		&-level {
			font-weight: 700;
		}
	}

	
	

	&__title {
		margin-top: 10px;
	}

	&__detail {
		width: 100%;
		@include fontSize(14px);
		padding: 0.5rem;

		@media screen and (min-width: 768px) {
			justify-content: space-around;
		}

		&-left,
		&-right {
			width: 50%;
		}

		&-right {

		}

		&-icon {
			@include fontSize(25px);
			color: $primary-color;
			margin-bottom: 10px;
		}

		&-area,
		&-elevation {
			font-weight: 700;
		}
	}
}