.banner {
	position: relative;
	height: 400px;
	height: 91.3vh;
	background: url('../image/banner/banner.jpg') no-repeat top center;
	background-size: cover;

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: $shadow;
		opacity: .25;
	}
}

.search {
	width: 90%;
	margin: 0 auto;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
	

	&__title {
		color: #ffffff;
		line-height: 44px;
		margin-bottom: 25px;

		@media screen and (min-width: 1200px) {
			margin-bottom: 30px;
		}
	}

	&__form {
		width: 80%;
		height: 50px;
		max-width: 500px;
		margin: 0 auto;
		flex-wrap: nowrap;

		@media screen and (min-width: 768px) {
			width: 60%;
			max-width: 550px;
		}

		@media screen and (min-width: 1200px) {
			width: 50%;
			max-width: 600px;
		}

		&-input {
			width: 90%;
			height: 100%;
			border: 0;
			padding-left: 2%;
			@include fontSize(15px);
			color: $default-color;

			&:hover,
			&:focus {
				outline: 0;
			}

			&::placeholder {
				opacity: 0;

				@media screen and (min-width: 450px) {
					opacity: 0.5;
				}
			}
		}

		&-submit {
			padding: 1.05rem 1.25rem;
			height: 100%;
			border: 0;
			background-color: $primary-color;
			color: #ffffff;
			transition: all 0.4s ease 0s;
			cursor: pointer;

			&:hover {
				background-color: #59817e;
			}
		}
	}
}



.discover {
	background-color: $tertiary-color;
	text-align: center;

	&__title {
		color: #ffffff;
	}

	&__hike {
		width: 100%;
		max-width: 1600px;
		padding: 1rem;

		@media screen and (min-width: 1600px) {
			margin: 0 auto;
		}
	}

	&__more {
		margin-top: 15px;
	}
}

.cta {
	background: url('../image/cta/bg.jpg') no-repeat top center;
	background-size: cover;
	position: relative;
	text-align: center;
	min-height: 800px;

	@media screen and (min-width: 1024px) {
		min-height: 700px;
	}

	@media screen and (min-width: 1200px) {
		min-height: 800px;
	}
	

	&__container {
		
		@media screen and (min-width: 1024px) {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

	&__card {
		width: 100%;
		max-width: 430px;
		background: rgba(255, 255, 255, 0.8);
		padding: 1rem;
		margin-top: 20px;
		border-radius: 3%;
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);

		&:last-child {
			margin-bottom: 100px;
		}

		@media screen and (min-width: 1024px) {
			width: 28%;
			min-width: 317px;
			padding: 3.5rem 0.5rem;
			margin-bottom: 0;

			&:last-child {
				margin-bottom: 0;
			}	
		}

		@media screen and (min-width: 1200px) {
			width: 30%;
			min-width: 365px;
			padding: 3.5rem 2rem;	
		}

		&-title {
			color: $default-color;
			margin-bottom: 15px;
		}

		&-subtitle {
			margin-bottom: 20px;
		}
	}
}

.global-map {
	background-color: $secondary-color;
	text-align: center;

	&__container {

		@media screen and (min-width: 768px) {
			padding: 20px 0;
		}

		@media screen and (min-width: 1024px) {
			padding: 30px 0;
		}
	}

	&__title {
		color: #ffffff;
	}

	&__map {
		width: 100%;
		max-width: 1600px;
		margin: 30px auto 10px;
		height: 500px;

		@media screen and (min-width: 768px) {
			width: 90%;
			height: 700px;
			border: 10px solid $default-color;
		}
	}
}

.scroll {
	width: 50px;
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, -2%);
}



