.login {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../image/login/login.jpg') center no-repeat;
	background-size: cover;

	&__container {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, 0.5);
		color: #ffffff;
		text-align: center;
		padding: 1rem 0.8rem;

		@media screen and (min-width: 768px) {
			max-width: 500px;
			padding: 3rem 2rem;
		}
	}

	&__head {
		margin-top: 30px;

		&-subtitle {
			margin-top: 10px;
		}

		&-link {
			color: #9AECDB;
		}
	}

	&__main {
		margin-top: 30px;

		@media screen and (min-width: 768px) {
			margin-top: 40px;
		}
	}

	&__form {
		margin-top: 18px;

		&-group,
		&-notif {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 15px;

			@media screen and (min-width: 576px) {
				width: 80%;
			}

			@media screen and (min-width: 1024px) {
				width: 70%;
			}

			@media screen and (min-width: 1200px) {
				width: 60%;
				max-width: 600px;
			}
		}

		&-input {
			width: 100%;
			height: 50px;

			@media screen and (min-width: 768px) {
				height: 60px;
			}
		}

		&-firstname {
			display: none;
		}
	}

	&__forgot {
		@include fontSize(14px);
		font-style: italic;
		margin-top: 10px;

		&-link {
			color: #9AECDB;
		}
	}

	&__register {
		margin-top: 30px;
		text-align: center;

		&-subtitle {
			@include fontSize(18px);
			font-weight: 500;
		}

		&-link {
			color: #9aecdb;
			margin-top: 15px;
		}
	}
}




