.register {
	position: relative;
	width: 100%;
	height: 91.3vh;
	background: url('../image/register/register.jpg') center no-repeat;
	background-size: cover;

	&__container {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, 0.5);
		color: #ffffff;
		text-align: center;
		padding: 1rem 0.8rem;

		@media screen and (min-width: 768px) {
			max-width: 500px;
			padding: 2rem 2rem;
		}
	}

	&__main {
		width: 90%;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;

		@media screen and (min-width: 576px) {
			width: 70%;
			
		}

		@media screen and (min-width: 768px) {
			width: 90%;
		}
	}

	&__required {
		text-align: start;

		&-description {
			display: block;
			@include fontSize(12px);
			color: #9aecdb;
			font-weight: 700;
		}
	}

	&__form {

		&-group {
			margin-top: 15px;
		}

		&-description {
			text-align: start;
			display: block;
			@include fontSize(12px);
			margin-top: 10px;
			color: #9aecdb;
			font-weight: 700;
		}

		&-label	{
			display: block;
			font-weight: 700;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&-input {
			width: 100%;
			height: 40px;
		}

		&-notif {
			margin-top: 10px;
			@include fontSize(14px);
		}
	}

	&__login {
		margin-top: 20px;

		&-subtitle {
			color: #ffffff;
			@include fontSize(18px);
			font-weight: 500;
		}

		&-link {
			color: #9aecdb;
			margin-top: 15px;
		}
	}
}