.safety {
    
    &__head {
        text-align: center;
        padding: 2rem;
        background-color: $secondary-color;
        
        &-title {
            margin-bottom: 15px;
            color: #ffffff;
        }
    
        &-subtitle {
            font-weight: 700;
            font-style: italic;
        }
    }

    &__content {
        margin-top: 30px;
    }

    &__introduction {
        line-height: 2;
    }

    &__item {
        width: 100%;
        margin-top: 50px;
        background-color: #ffffff;
        border: 1px solid #D0D0D0;
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
        padding: 1.5rem;

        &:first-child {
            margin-top: 0;
        }

        &-title {
            text-align: center;
        }

        &-component {
            margin: 20px auto;
        }

        &-btn {
            display: block;
            width: 100%;
            

            @media screen and (min-width: 576px) {
                width: 50%;
                max-width: 300px;
                margin: 0 auto;
            }
        }
        
        &-dropdown {
            margin-top: 30px;
        }

        &-list {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 2%;

            li {
                position: relative;
                line-height: 1.5;
                margin-bottom: 10px;
                padding-left: 15px;
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    background: $primary-color;
                    border-radius: 50%;
                }
            }
        }

        &-picture {
            display: block;
            margin: 20px auto;
        }
    }
}

