.single-head {
	background-color: $tertiary-color;
	width: 100%;
	max-width: 1920px;
	text-align: center;
	position: relative;

	@media screen and (min-width: 1400px) {
		margin-left: auto;
		margin-right: auto;
	}

	&__title-container {
		background-color: $tertiary-color; 
		padding: 1.5rem 1rem 1.5rem;
		border-radius: 34px;

		@media screen and (min-width: 576px) {
			position: absolute;
			background: rgb(36, 37, 42, 0.7);
			top: 20px;
			padding: 1rem 2rem 1rem;
		}
	}

	&__title {
		color: #ffffff;
	}

	&__image {
		display: block;
		width: 100%;
		max-height: 500px;
		object-fit: cover;
	}

	&__details {
		width: 100%;
		background-color: $default-color;
		color: #ffffff;

		@media screen and (min-width: 1024px) {
			justify-content: space-around;
		}
		

		&-item {
			width: 100%;
			margin-top: 15px;

			&:last-child {
				margin-bottom: 15px;
			}

			@media screen and (min-width: 360px) {
				width: 50%;
			}

			@media screen and (min-width: 576px) {
				width: 33%;
			}

			@media screen and (min-width: 1024px) {
				width: 14%;
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&-title {
			@include fontSize(20px);

			@media screen and (min-width: 768px) {
				@include fontSize(22px);
			}
		}

		&-content {
			@include fontSize(18px);
		}

		.level-green,
		.level-blue,
		.level-red { 
			padding: 0.5rem;
		}
	}
}


.single-container {
	background-color: #ffffff;
	align-items: start;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;


	&__content {
		width: 100%;
		margin-bottom: 30px;
			
		@media screen and (min-width: 1024px) {
			width: 75%;
		}
	}

	&__sidebar {
		width: 100%;

		@media screen and (min-width: 1024px) {
			width: 25%;
		}
	}
}

.single-content {

	&__container {

		@media screen and (min-width: 1024px) {
			padding: 1rem;
		}

		&-map {
			width: 100%;
			height: 450px;
		}
	}

	&__box {
		padding: 1rem;

		&-title {
			margin-bottom: 10px;
		}

		&-text {
			line-height: 26px;
		}
	}
}


.comment {
	width: 100%;
	padding: 1rem;

	&__post {
		width: 100%;

		&-title {
			display: block;
			background-color: $tertiary-color;
			padding: 1rem;
			@include fontSize(20px);
			font-weight: 700;
			color: #ffffff;
			text-align: center;
		}

		&-input {
			width: 100%;
			margin: 0;
			height: 200px;
			border: 1px solid #24252a;
		}

		&-connection {
			width: 100%;
			text-align: center;
			padding: 1rem;
			font-weight: 700;
			background-color: #f4f4f4;
	
	
			a { 
				color: $primary-color;
	
				&:hover {
					color: #59817e;
				}
			}
		}
	}

	&__read {
		margin-top: 30px;

		&-btn {
			width: 100%;
		}

		&-item {
			padding: 1rem;
			position: relative;
			background-color: #f4f4f4;
			margin-top: 30px;

			&:first-child {
				margin-top: 10px;
			}
		}
	
		&-avatar {
			position: absolute;
			left: 10px;
			padding: 3px;
			width: 55px;
			height: 55px;
		}
	
		&-body {
			margin-left: 60px;
		}
	
		&-user {
			font-weight: 700;
			margin-bottom: 5px;
		}
	
		&-date {
			@include fontSize(14px);
			color: #9e9e9e;
		}
	}
}

.sidebar {
	background-color: rgba(255,255,255,.7);
	text-align: center;

	&__container {
		padding: 1rem;
	}

	&__documentation {
		margin-top: 30px;

		&-head {
			background-color: #24252a;
			padding: 0.5rem;
			color: #f4f4f4;
			text-align: center;
		}
			
		&-title {
			@include fontSize(20px);
			font-weight: 700;
		}

		&-picture {
			display: block;
			width: 100%;
		}
	}
}