$default-color: #24252a;
$primary-color: #75b2ad;
$secondary-color: #876fab;
$tertiary-color: #425e5e; 
$quaternary-color: #27363b;
$shadow: #000000;
$error: #cf5f5f;
$success: #5fcf80;

@import 'reset';
@import 'mixins';
@import 'default';
@import 'header';
@import 'footer';
@import 'hike';
@import 'login';
@import 'home';
@import 'guide';
@import 'area';
@import 'single';
@import 'search';
@import 'inspiration';
@import 'register';
@import 'safety';
@import '404';